Repository VLV-subgrupo/o2t, pull requests merged in 2024-06, with the labels that each got.

#23 Criar tabelas/entidades do banco de dados via Spring Boot
  .gitignore
  api/pom.xml
  api/src/main/java/com/o2tapi/api/models/Goal.java
  api/src/main/java/com/o2tapi/api/models/Label.java
  api/src/main/java/com/o2tapi/api/models/Metric.java
  api/src/main/java/com/o2tapi/api/models/Register.java
  api/src/main/java/com/o2tapi/api/models/User.java
  api/src/main/java/com/o2tapi/api/models/Workout.java
  api/src/main/java/com/o2tapi/api/models/enums/MetricType.java
  api/target/classes/com/o2tapi/api/HelloController.class
  api/target/classes/com/o2tapi/api/exceptions/GlobalExceptionHandler.class
  api/target/classes/com/o2tapi/api/models/Goal.class
  api/target/classes/com/o2tapi/api/models/Label.class
  api/target/classes/com/o2tapi/api/models/Metric.class
  api/target/classes/com/o2tapi/api/models/Register.class
  api/target/classes/com/o2tapi/api/models/User.class
  api/target/classes/com/o2tapi/api/models/Workout.class
  api/target/classes/com/o2tapi/api/models/enums/MetricType.class
  api/target/test-classes/com/o2tapi/api/ApiApplicationTests.class
Labels: backend, banco de dados

#26 Criação do Repository para User e Register
  api/src/main/java/com/o2tapi/api/repository/RegisterRepository.java
  api/src/main/java/com/o2tapi/api/repository/UserRepository.java
  api/target/classes/com/o2tapi/api/repository/RegisterRepository.class
  api/target/classes/com/o2tapi/api/repository/UserRepository.class
Labels: backend

#29 Criação dos services - User e Register
  api/src/main/java/com/o2tapi/api/exceptions/EntityNotFound.java
  api/src/main/java/com/o2tapi/api/exceptions/InvalidFieldFormat.java
  api/src/main/java/com/o2tapi/api/exceptions/PasswordUnmatch.java
  api/src/main/java/com/o2tapi/api/exceptions/UserAlreadyExists.java
  api/src/main/java/com/o2tapi/api/pojo/PasswordDTO.java
  api/src/main/java/com/o2tapi/api/pojo/RegisterDTO.java
  api/src/main/java/com/o2tapi/api/pojo/UserDTO.java
  api/src/main/java/com/o2tapi/api/service/RegisterService.java
  api/src/main/java/com/o2tapi/api/service/UserService.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/RegisterServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/UserServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/target/classes/com/o2tapi/api/exceptions/EntityNotFound.class
  api/target/classes/com/o2tapi/api/exceptions/InvalidFieldFormat.class
  api/target/classes/com/o2tapi/api/exceptions/PasswordUnmatch.class
  api/target/classes/com/o2tapi/api/exceptions/UserAlreadyExists.class
  api/target/classes/com/o2tapi/api/pojo/PasswordDTO.class
  api/target/classes/com/o2tapi/api/pojo/RegisterDTO.class
  api/target/classes/com/o2tapi/api/pojo/UserDTO.class
  api/target/classes/com/o2tapi/api/service/RegisterService.class
  api/target/classes/com/o2tapi/api/service/UserService.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/RegisterServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/UserServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
Labels: backend

#34 Criao das telas principais
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/card.tsx
  frontend/app/(trackerPage)/components/datePicker.tsx
  frontend/app/(trackerPage)/components/graph.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/(trackerPage)/components/listItem.tsx
  frontend/app/(trackerPage)/components/mesure.tsx
  frontend/app/(trackerPage)/components/navbar.tsx
  frontend/app/(trackerPage)/components/profile.tsx
  frontend/app/(trackerPage)/components/scrollableList.tsx
  frontend/app/(trackerPage)/components/tags.tsx
  frontend/app/(trackerPage)/components/timer.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/layout.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
Labels: frontend

#35 Refatoração para solucionar Code Smells
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/RegisterServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/UserServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
Labels: backend, AvaliacaoA4

#37 Criação dos controllers
  api/src/main/java/com/o2tapi/api/controller/RegisterController.java
  api/src/main/java/com/o2tapi/api/controller/UserController.java
  api/target/classes/com/o2tapi/api/controller/RegisterController.class
  api/target/classes/com/o2tapi/api/controller/UserController.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/RegisterServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/UserServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
Labels: banco de dados, AvaliacaoA4

#25 Documentação da Arquitetura do Projeto
  README.md
  docs/c4-o2t.png
Labels: documentation

#39 Criacao graficos dashboard
  frontend/app/(trackerPage)/components/graph.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/mesure.tsx
  frontend/app/(trackerPage)/components/navbar.tsx
  frontend/app/(trackerPage)/components/profile.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/_components/o2t_logo.tsx
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#42 Autenticação e Login - JWT
  api/.postman/O2T - Dev.postman_environment.json
  api/.postman/O2T - api.postman_collection.json
  api/pom.xml
  api/src/main/java/com/o2tapi/api/config/ApplicationConfig.java
  api/src/main/java/com/o2tapi/api/config/JwtAuthenticationFilter.java
  api/src/main/java/com/o2tapi/api/config/JwtService.java
  api/src/main/java/com/o2tapi/api/config/SecurityConfig.java
  api/src/main/java/com/o2tapi/api/controller/AuthController.java
  api/src/main/java/com/o2tapi/api/controller/RegisterController.java
  api/src/main/java/com/o2tapi/api/controller/UserController.java
  api/src/main/java/com/o2tapi/api/models/User.java
  api/src/main/java/com/o2tapi/api/models/enums/Role.java
  api/src/main/java/com/o2tapi/api/pojo/AuthenticationRequest.java
  api/src/main/java/com/o2tapi/api/pojo/AuthenticationResponse.java
  api/src/main/java/com/o2tapi/api/pojo/RegisterRequest.java
  api/src/main/java/com/o2tapi/api/repository/RegisterRepository.java
  api/src/main/java/com/o2tapi/api/repository/UserRepository.java
  api/src/main/java/com/o2tapi/api/service/AuthService.java
  api/src/main/java/com/o2tapi/api/service/RegisterService.java
  api/src/main/java/com/o2tapi/api/service/UserService.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/AuthServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/RegisterServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/UserServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/target/classes/com/o2tapi/api/config/ApplicationConfig.class
  api/target/classes/com/o2tapi/api/config/JwtAuthenticationFilter.class
  api/target/classes/com/o2tapi/api/config/JwtService.class
  api/target/classes/com/o2tapi/api/config/SecurityConfig.class
  api/target/classes/com/o2tapi/api/controller/AuthController.class
  api/target/classes/com/o2tapi/api/controller/RegisterController.class
  api/target/classes/com/o2tapi/api/controller/UserController.class
  api/target/classes/com/o2tapi/api/models/User$UserBuilder.class
  api/target/classes/com/o2tapi/api/models/User.class
  api/target/classes/com/o2tapi/api/models/enums/Role.class
  api/target/classes/com/o2tapi/api/pojo/AuthenticationRequest$AuthenticationRequestBuilder.class
  api/target/classes/com/o2tapi/api/pojo/AuthenticationRequest.class
  api/target/classes/com/o2tapi/api/pojo/AuthenticationResponse$AuthenticationResponseBuilder.class
  api/target/classes/com/o2tapi/api/pojo/AuthenticationResponse.class
  api/target/classes/com/o2tapi/api/pojo/RegisterDTO.class
  api/target/classes/com/o2tapi/api/pojo/RegisterRequest$RegisterRequestBuilder.class
  api/target/classes/com/o2tapi/api/pojo/RegisterRequest.class
  api/target/classes/com/o2tapi/api/repository/RegisterRepository.class
  api/target/classes/com/o2tapi/api/repository/UserRepository.class
  api/target/classes/com/o2tapi/api/service/AuthService.class
  api/target/classes/com/o2tapi/api/service/RegisterService.class
  api/target/classes/com/o2tapi/api/service/UserService.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/AuthServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/RegisterServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/UserServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
Labels: backend

#43 UI change
  frontend/app/(Home)/conponents/input.tsx
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(Home)/page.tsx
  frontend/app/(trackerPage)/components/card.tsx
  frontend/app/(trackerPage)/components/timer.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
  frontend/app/_components/customButton.tsx
  frontend/app/_components/o2t_logo.tsx
  frontend/app/_components/ui/tooltip.tsx
  frontend/app/globals.css
  frontend/package-lock.json
  frontend/package.json
  frontend/public/UsainBolt.jpg
Labels: frontend

#47 Log Page update
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/datePicker.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/(trackerPage)/components/listItem.tsx
  frontend/app/(trackerPage)/components/scrollableList.tsx
  frontend/app/(trackerPage)/components/tags.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
  frontend/app/_components/ui/alert-dialog.tsx
  frontend/app/_components/ui/command.tsx
  frontend/app/_components/ui/dialog.tsx
  frontend/app/globals.css
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#46 Gerenciamento de Labels dos Treinos
  api/.postman/O2T - api.postman_collection.json
  api/src/main/java/com/o2tapi/api/controller/LabelController.java
  api/src/main/java/com/o2tapi/api/exceptions/GlobalExceptionHandler.java
  api/src/main/java/com/o2tapi/api/models/Register.java
  api/src/main/java/com/o2tapi/api/pojo/LabelDTO.java
  api/src/main/java/com/o2tapi/api/repository/LabelRepository.java
  api/src/main/java/com/o2tapi/api/service/LabelService.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/LabelServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/target/classes/com/o2tapi/api/controller/LabelController.class
  api/target/classes/com/o2tapi/api/exceptions/GlobalExceptionHandler.class
  api/target/classes/com/o2tapi/api/models/Register.class
  api/target/classes/com/o2tapi/api/pojo/LabelDTO.class
  api/target/classes/com/o2tapi/api/repository/LabelRepository.class
  api/target/classes/com/o2tapi/api/service/LabelService.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/LabelServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
Labels: enhancement, backend

#49 Add InputNum tests
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/__tests__/inputTest.tsx
  frontend/app/tests/customButton.test.tsx
  frontend/app/tests/home.test.tsx
Labels: frontend, Avaliacao A5

#51 Adição dos Serviços e Endpoints para gerenciamento de Treinos
  api/src/main/java/com/o2tapi/api/HelloController.java
  api/src/main/java/com/o2tapi/api/controller/LabelController.java
  api/src/main/java/com/o2tapi/api/controller/WorkoutController.java
  api/src/main/java/com/o2tapi/api/pojo/FindWorkoutByDateRequest.java
  api/src/main/java/com/o2tapi/api/pojo/TimerRequest.java
  api/src/main/java/com/o2tapi/api/pojo/WorkoutDTO.java
  api/src/main/java/com/o2tapi/api/repository/WorkoutRepository.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/WorkoutService.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/WorkoutServiceImpl.java
  api/target/classes/com/o2tapi/api/HelloController.class
  api/target/classes/com/o2tapi/api/controller/LabelController.class
  api/target/classes/com/o2tapi/api/controller/WorkoutController.class
  api/target/classes/com/o2tapi/api/pojo/FindWorkoutByDateRequest$FindWorkoutByDateRequestBuilder.class
  api/target/classes/com/o2tapi/api/pojo/FindWorkoutByDateRequest.class
  api/target/classes/com/o2tapi/api/pojo/TimerRequest$TimerRequestBuilder.class
  api/target/classes/com/o2tapi/api/pojo/TimerRequest.class
  api/target/classes/com/o2tapi/api/pojo/WorkoutDTO.class
  api/target/classes/com/o2tapi/api/repository/WorkoutRepository.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/WorkoutService.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/WorkoutServiceImpl.class
Labels: enhancement, backend

#53 Avaliação 5 - Testes de Unidade do Backend
  api/pom.xml
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/src/test/java/com/o2tapi/api/ValidationServiceTests.java
Labels: backend, Avaliacao A5

#56 Adição dos Endpoints de Métricas de Saúde e Goals
  api/.postman/O2T - Dev.postman_environment.json
  api/.postman/O2T - api.postman_collection.json
  api/src/main/java/com/o2tapi/api/controller/AuthController.java
  api/src/main/java/com/o2tapi/api/controller/GoalController.java
  api/src/main/java/com/o2tapi/api/controller/LabelController.java
  api/src/main/java/com/o2tapi/api/controller/MetricController.java
  api/src/main/java/com/o2tapi/api/controller/UserController.java
  api/src/main/java/com/o2tapi/api/controller/WorkoutController.java
  api/src/main/java/com/o2tapi/api/pojo/CrossPermission.java
  api/src/main/java/com/o2tapi/api/pojo/GoalDTO.java
  api/src/main/java/com/o2tapi/api/pojo/MetricDTO.java
  api/src/main/java/com/o2tapi/api/repository/GoalRepository.java
  api/src/main/java/com/o2tapi/api/repository/MetricRepository.java
  api/src/main/java/com/o2tapi/api/service/GoalService.java
  api/src/main/java/com/o2tapi/api/service/MetricService.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/GoalServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/MetricServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/target/classes/com/o2tapi/api/controller/AuthController.class
  api/target/classes/com/o2tapi/api/controller/GoalController.class
  api/target/classes/com/o2tapi/api/controller/LabelController.class
  api/target/classes/com/o2tapi/api/controller/MetricController.class
  api/target/classes/com/o2tapi/api/controller/UserController.class
  api/target/classes/com/o2tapi/api/controller/WorkoutController.class
  api/target/classes/com/o2tapi/api/pojo/CrossPermission.class
  api/target/classes/com/o2tapi/api/pojo/GoalDTO.class
  api/target/classes/com/o2tapi/api/pojo/MetricDTO.class
  api/target/classes/com/o2tapi/api/repository/GoalRepository.class
  api/target/classes/com/o2tapi/api/repository/MetricRepository.class
  api/target/classes/com/o2tapi/api/service/GoalService.class
  api/target/classes/com/o2tapi/api/service/MetricService.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/AuthServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/GoalServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/LabelServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/MetricServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/UserServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
  api/target/test-classes/com/o2tapi/api/ApiApplicationTests.class
  api/target/test-classes/com/o2tapi/api/ValidationServiceTests.class
Labels: enhancement, backend

#59 Feature/frontend and api integration
  frontend/app/(Home)/conponents/input.tsx
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(Home)/page.tsx
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/datePicker.tsx
  frontend/app/(trackerPage)/components/profile.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/_lib/handlers.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend

#60 Fix/UI adjustment
  frontend/app/(Home)/conponents/input.tsx
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(Home)/page.tsx
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/(trackerPage)/components/profile.tsx
  frontend/app/(trackerPage)/components/timer.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
Labels: frontend

#63 conserta login
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/_lib/handlers.ts
Labels: frontend

#64 Feature/label login workout
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/scrollableList.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
  frontend/app/_lib/handlers.ts
Labels: frontend

#66 Feature/goal metrics integration
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/(trackerPage)/components/scrollableList.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
  frontend/app/__tests__/inputTest.tsx
  frontend/app/_lib/handlers.ts
Labels: frontend

#67 Integração do frontend com a API do backend
  api/.postman/O2T - Dev.postman_environment.json
  api/.postman/O2T - api.postman_collection.json
  api/src/main/java/com/o2tapi/api/controller/AuthController.java
  api/src/main/java/com/o2tapi/api/controller/GoalController.java
  api/src/main/java/com/o2tapi/api/controller/LabelController.java
  api/src/main/java/com/o2tapi/api/controller/MetricController.java
  api/src/main/java/com/o2tapi/api/controller/UserController.java
  api/src/main/java/com/o2tapi/api/controller/WorkoutController.java
  api/src/main/java/com/o2tapi/api/pojo/CrossPermission.java
  api/src/main/java/com/o2tapi/api/pojo/GoalDTO.java
  api/src/main/java/com/o2tapi/api/pojo/MetricDTO.java
  api/src/main/java/com/o2tapi/api/repository/GoalRepository.java
  api/src/main/java/com/o2tapi/api/repository/MetricRepository.java
  api/src/main/java/com/o2tapi/api/service/GoalService.java
  api/src/main/java/com/o2tapi/api/service/MetricService.java
  api/src/main/java/com/o2tapi/api/service/ValidationService.java
  api/src/main/java/com/o2tapi/api/service/impl/GoalServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/MetricServiceImpl.java
  api/src/main/java/com/o2tapi/api/service/impl/ValidationServiceImpl.java
  api/target/classes/com/o2tapi/api/controller/AuthController.class
  api/target/classes/com/o2tapi/api/controller/GoalController.class
  api/target/classes/com/o2tapi/api/controller/LabelController.class
  api/target/classes/com/o2tapi/api/controller/MetricController.class
  api/target/classes/com/o2tapi/api/controller/UserController.class
  api/target/classes/com/o2tapi/api/controller/WorkoutController.class
  api/target/classes/com/o2tapi/api/pojo/CrossPermission.class
  api/target/classes/com/o2tapi/api/pojo/GoalDTO.class
  api/target/classes/com/o2tapi/api/pojo/MetricDTO.class
  api/target/classes/com/o2tapi/api/repository/GoalRepository.class
  api/target/classes/com/o2tapi/api/repository/MetricRepository.class
  api/target/classes/com/o2tapi/api/service/GoalService.class
  api/target/classes/com/o2tapi/api/service/MetricService.class
  api/target/classes/com/o2tapi/api/service/ValidationService.class
  api/target/classes/com/o2tapi/api/service/impl/AuthServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/GoalServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/LabelServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/MetricServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/UserServiceImpl.class
  api/target/classes/com/o2tapi/api/service/impl/ValidationServiceImpl.class
  api/target/test-classes/com/o2tapi/api/ApiApplicationTests.class
  api/target/test-classes/com/o2tapi/api/ValidationServiceTests.class
  frontend/app/(Home)/conponents/input.tsx
  frontend/app/(Home)/conponents/profileForms.tsx
  frontend/app/(Home)/page.tsx
  frontend/app/(trackerPage)/components/addLabel.tsx
  frontend/app/(trackerPage)/components/datePicker.tsx
  frontend/app/(trackerPage)/components/graph.tsx
  frontend/app/(trackerPage)/components/historic.tsx
  frontend/app/(trackerPage)/components/inputNum.tsx
  frontend/app/(trackerPage)/components/profile.tsx
  frontend/app/(trackerPage)/components/scrollableList.tsx
  frontend/app/(trackerPage)/components/timer.tsx
  frontend/app/(trackerPage)/components/userProfile.tsx
  frontend/app/(trackerPage)/dashboard/page.tsx
  frontend/app/(trackerPage)/log/page.tsx
  frontend/app/(trackerPage)/metrics/page.tsx
  frontend/app/__tests__/inputTest.tsx
  frontend/app/_lib/handlers.ts
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, backend
